<div class="container">
<h1 class="border text-dark">会員一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
　
<% @customers.each do |customer| %>
  <tbody>
    <tr>
      <th><%= customer.id %></th>
      <th><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></th>
      <th><%= customer.email %></th>
      <th>
      　<% if customer.is_delete %>
      　<p class="text-secondary">退会</p>
      　<% else %>
      　<p class="text-success">有効</p>
      　<% end %>s
      </th>
    </tr>
  </tbody>
<% end %>

</table>
</div>