<h1>商品一覧</h1>
<P>全 件</P>

<div class="container">
<% @items.each do |item| %>
  <tbody>
   <div class="row">
     <tr>
      <%= link_to item_path(item) do %>
      <%= image_tag item.image, size: "200x200" %>
      <% end %>
      </tr>
   </div>
   <div class="row">
     <tr><%= item.name %></tr>
   </div>
   <div class="row">
     <tr>¥<%= item.price %></tr>
   </div>
  </tbody>
<% end %>

 </div>