<div class="container">
  <div class="row my-3">
   <h2 class="col-2 font-weight-bold">商品一覧 (全 件)</h2>
  </div>
  <div class="row my-4">
    <% @items.each do |item| %>
    <div class="w-25">
      <%= link_to item_path(item) do %>
      <%= image_tag item.image, size: "200x200" %>
      <% end %>
      <p><%= item.name %></p>
      <p>¥<%= item.price %></p>
    </div>
   <% end %>
  </div>
 </div>
